$bg: #fff;
$column:4;
@mixin bg {
  background-color: $bg;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  height: calc(100vh - 60px);
  border-radius: 4px;
}

@mixin edit {
  cursor: pointer;
  z-index: 9;
  font-size: 12px;
  color: #409EFF;
  padding: 2px 0;
  display: inline-block;
  &:hover {
    font-size: 14px;
  }
}

@mixin grid {
  display: grid;
  margin-top: 30px;
  gap: 5px 0;
  white-space: nowrap;
  grid-template-columns: repeat($column, 1fr);
  justify-items: flex-end;
  &:last-child {
    justify-items: center;
  }
}