@font-face {
  font-family: "iconfont"; /* Project id 2558720 */
  src: url('iconfont.woff2?t=1621416670281') format('woff2'),
       url('iconfont.woff?t=1621416670281') format('woff'),
       url('iconfont.ttf?t=1621416670281') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\e822";
}

.icon-amplification:before {
  content: "\e661";
}

.icon-zhongyingwen2zhongwen:before {
  content: "\e645";
}

.icon-zhongyingwenyingwen-01:before {
  content: "\e671";
}

